<img src = "/assets/images/Rubiks_Background.webp" class = "background">

<div class = "container">
    <div>
        <h1>
            Algorithm Buddy
        </h1>
        
        <p>
           The site that helps you practice cubing algorithms daily.
        </p>
    </div>

    <div class = "responsiveFlex">
        <a mat-button routerLink="/detail/{{randOLL}}" >
            <div class="card 1">
                <div class="card_image"> <img src="/assets/images/background.jpg" /> </div>
                <div class="card_title title-white">
                  <br>
                    <p>OLL of the day</p>
                </div>
            </div>
        </a>
        <a mat-button routerLink="/detail/{{randPLL}}">
            <div class="card 1">
                <div class="card_image"> <img src="/assets/images/background.jpg" /> </div>
                <div class="card_title title-white">
                  <br>
                    <p>PLL of the day</p>
                </div>
            </div>
        </a>
    </div>
    <br>
</div>



