<h1> Choose a category </h1>
<div style ="display: flex; justify-content: center;">
  <button class = "infoBtn" (click)="openDialog('1000ms', '1000ms')">What do these mean?</button>
</div>
<div class = "wrappedCardView">

      <div class="card">

        <div class="title">OLL </div>
      
        <div class="icon">
          <img src = "/assets/images/test.png" style = " max-height: 150px;">
        </div> 
      
        <div class="features">
            <p> Algorithms for orienting last layer </p>
        </div>
      
        <a routerLink="/list/OLL" class="btn">List view</a>
      </div>

      <div class="card">

        <div class="title">PLL </div>
      
        <div class="icon">
          <img src = "/assets/images/PLL.png">
        </div>
      
        <div class="features">
            <p> Algorithms for permuting last Layer</p>
        </div>
      
        <a routerLink="/list/PLL" class="btn">List view</a>
      </div> 
      
     

      <div class="card">
        <div class="title">2Look OLL </div>
      
        <div class="icon">
            <img src="/assets/images/DOT.png" style = "max-height: 150px;">
        </div>
      
        <div class="features">
            <p> Algorithms for beginner OLL</p>
        </div>
      
        <a routerLink="/list/2LOOKOLL" class="btn">List view</a>
      </div>

      <div class="card">
        <div class="title">2Look PLL </div>
      
        <div class="icon">
            <img src="/assets/images/OPPOSITEEDGESWAP.png" style = "max-height: 150px;">
        </div>
      
        <div class="features">
            <p> Algorithms for beginner PLL</p>
        </div>
      
        <a routerLink="/list/2LOOKPLL" class="btn">List view</a>
      </div>

</div>


