<h2 mat-dialog-title>Timing in cubing</h2>
<mat-dialog-content class="mat-typography">
  <h2> How to use the stackmat timer </h2>
  <h3> Inspection</h3>
  <p> Refer to the info section for more information on move notation </p>
  <p> The stackmat will first give a random scramble of moves to set the cube to</p><br>
  <p> Once the user sets the cube they must press space/tap </p>
  <p> They have 15 seconds to inspect the cube </p>
  <img src = "/assets/images/inspection.png" class = "exampleImg">
  <br> <br>
  <h3> Wait period </h3>
  <p> Once the cube has been inspected the user must place the cube down and hold the screen/ hold space down for atleast 2 seconds</p>
  <p> Once the timer reaches 0 the user is free to lift up from space/tap and begin solving. </p>
  <img src = "/assets/images/wait.png" class = "exampleImg">
  <h2> Press space to record your time </h2>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class = "infoBtn">Close</button>
</mat-dialog-actions>